recursive-include examples *
include LICENSE.txt
include thermocepstrum/README.md
include thermocepstrum/metadata.json
include thermocepstrum/utils/plot_style.mplstyle
exclude thermocepstrum/utils/blocks.py
exclude thermocepstrum/utils/blockanalysis.py
include thermocepstrum_gui/README_GUI.md
include thermocepstrum_gui/assets/icon.gif
include thermocepstrum_gui/assets/languages.json
