recursive-include examples *
include LICENSE.txt
include setup.json
include sportran/README.md
include sportran/metadata.json
exclude sportran/utils/obsolete/
include sportran_gui/README_GUI.md
include sportran_gui/assets/icon.gif
include sportran_gui/assets/languages.json
include sportran/plotter/styles/api_style.mplstyle
include sportran/plotter/styles/cli_style.mplstyle
